.statistics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 2px 2px rgba(2, 2, 2, 0.2);
  width: 268px;
  height: 130px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 30px;
}

.title {
  font-size: 16px;
  font-family: "Mariad Pro";
  color: rgb(71, 89, 101);
  text-transform: uppercase;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  padding-top: 30px;
}

.list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #4fc4f6;
  width: 54px;
  height: 60px;
}

.label {
  font-size: 12px;
  font-family: "Mariad Pro";
  color: rgb(255, 255, 255);
  line-height: 1.66;
  letter-spacing: 0.3px;
}

.percentage {
  font-size: 18px;
  font-family: "Mariad Pro";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  letter-spacing: 0.3px;
}
